body {
	text-align: center;
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
}

#navBar {
	display: flex;
	justify-content: space-between;
	color: black;
	position: fixed;
	width: 100vw;
	color: #eee;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, .7);
    transition-duration: .5s;
    max-height: 53px;
}

.navItem {
	padding: 15px;
	padding-right: 30px;
	padding-left: 30px;
}

.navItem a, .navItem a:visited {
	text-decoration: none;
	color: inherit;
}

.navItem:hover{
	background: #9998;
	transition-duration: .5s;
}

#navLinks {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dropdown {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);
    max-height: 0px;
    overflow: hidden;
    transition-duration: 1s;
}

.dropdownCont:hover .dropdown{
    max-height:50vh;
}

.dropdown .navItem {
    color: black;
    text-shadow: none;
}

.pageImage {
	width: 100vw;
	height: 50vh;
	background-size: cover !important;
	background-position-y: 30% !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageImage h1 {
	color: white;
	margin: auto;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	font-size: 32pt;
}

p {
    max-width: 70vw;
    margin: auto;
}

#homeImage {
    height: 60px;
    transition-duration: .5s;
}

.gotobutton {
    font-size: 16pt;
    background: #ddd;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    transition-duration: .5s;
}

.gotobutton::after {
    display: inline-block;
    content: url("images/doublearrow.svg");
    width: 15px;
    padding: 5px;
    padding-left: 15px;
    background-size: contain;
    transform: scale(1.4);
}

.gotobutton:hover {
    background: #bbb;
}

.imageCont {
    background: #9a77aa;
    color: white;
    font-style: italic;
    border-radius: 5px;
    overflow: hidden;
    width: fit-content;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
