:root {
	--accent-color: firebrick;
}

body {
	text-align: center;
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

#navBar {
	display: flex;
	justify-content: space-between;
	color: black;
	position: fixed;
	width: 100vw;
	color: #eee;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .7), 2px 2px 3px rgba(0, 0, 0, .7), 4px 4px 10px rgba(0, 0, 0, .7);
	transition-duration: .5s;
	z-index: 4;
	max-height: 63px;
}

.navItem {
	padding: 20px;
	padding-right: 30px;
	padding-left: 30px;
}

.navItem a,
.navItem a:visited {
	text-decoration: none;
	color: inherit;
	font-size: 14pt;
}

.navItem:hover, #mobileMenu:hover {
	background: #9998;
	transition-duration: .5s;
}

#navLinks {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.dropdown {
	background: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);
	max-height: 0px;
	overflow: hidden;
	transition-duration: 1s;
}

.dropdownCont:hover .dropdown {
	max-height: 50vh;
}

.dropdown .navItem {
	color: black;
	text-shadow: none;
}

.pageImage {
	/* The div at the top of the page with the image */
	width: 100vw;
	height: 50vh;
	max-height: 56vw;
	background-size: cover !important;
	background-position-y: 30% !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageImage h1 {
	/* Any h1 element in that div */
	color: white;
	margin: auto;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
	font-size: 32pt;
}

p {
	max-width: 70vw;
	margin: auto;
}

#homeImage {
	/* The TRM Logo on the nav bar */
	height: 60px;
	transition-duration: .5s;
	filter: drop-shadow(rgba(0, 0, 0, 0.4) 3px 5px 2px);
}

.gotobutton {
	/* The buttons with the arrows in them */
	font-size: 16pt;
	background: #ddd;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin: 10px;
	transition-duration: .5s;
}

.gotobutton::after {
	/* The actual arrows */
	display: inline-block;
	content: url("images/doublearrow.svg");
	width: 15px;
	padding: 5px;
	padding-left: 15px;
	background-size: contain;
	transform: scale(1.4);
}

.gotobutton:hover {
	background: #bbb;
}

.imageCont {
	/* The container around an image with a caption */
	background: var(--accent-color);
	color: white;
	font-style: italic;
	border-radius: 5px;
	overflow: hidden;
	width: fit-content;
	margin: auto;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}


.twoColumn {
	/* Styles for images on the side of text */
	display: flex;
	justify-content: center;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 30px;
	margin-bottom: 30px;
}

.leftColumn {
	/* The left column (for images) */
	min-width: 25vw;
	max-width: 30vw;
}

.rightColumn {
	/* The right column (for text) */
	text-align: left;
	margin-left: 5vw;
}

.waterfall {
	/* Images in the waterfall pattern */
	height: 200px;
	border-radius: 5px;
	margin: 15px;
}

.right {
	/* Image on the right side of the waterfall */
	margin-left: 50%;
}

.left {
	/* Image on the left side of the waterfall */
	margin-right: 50%;
}

.sideimage {
	/* Images on the side bar (no waterfall) */
	border-radius: 5px;
	margin: 15px;
	max-width: 25vw;
}

.window {
	position: fixed;
	top: -100vh;
	left: 25vw;
	width: 50vw;
	height: 80vh;
	background: #ddd;
	border-radius: 5px;
	overflow: hidden;
	min-width: 400px;
	min-height: 520px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
	transition: ease-in-out .5s;
	display: flex;
	flex-direction: column;
}

.windowBody {
	height: 100%;
}

.windowHeader {
	background: #ccc;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.windowHeader button {
	float: right;
	width: 50px;
	font-size: 18pt;
	border-radius: 0px;
	border: none;
	transition-duration: .5s;
}

.windowHeader button:hover {
	background: #f33;
}

.windowHeader h2 {
	margin: 5px;
	margin-left: 10px;
}

iframe {
	border: none;
	border-radius: 5px;
	overflow: hidden;
}

.quoteBlock {
  border-left: solid 5px gray;
  padding-left: 10px;
  font-family: serif;
}

.lookAtMe {
  font-size: 16pt;
  padding: 12px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #0006;
  background: linear-gradient(#a22, #844);
  color: white;
  transition: transform ease .2s;
}

.navButton {
  padding: 3px 8px;
}

.lookAtMe:hover {
  transform: scale(0.9);
}

#mobileMenu {
	display: none;
	font-size: 24pt;
	padding: 10pt;
}

#navBar.scrollNotTop {
		color: black;
		box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);
		text-shadow: none;
		background: white;
}

.scrollNotTop #patht, .scrollNotTop #pathr, .scrollNotTop #pathm {
	fill: black !important;
}

.scrollNotTop #redR {
	fill: #800!important;
}

.scrollNotTop #homeImage {
	height: 45px;
	filter: none;
}

.imageCont image {
		width: 600px;
}

@media (max-width:600px)  {
	#navLinks {
		opacity: 0;
		left: 100vw;
		position: absolute;
		top: 63px;
		display: block;
		overflow-y: auto;
		background: white;
		transition-duration: .2s;
		border-radius: 5px;
		margin-top: 10px;
		max-height: calc(100vh - 73px);
	}

	.scrollNotTop #navLinks {
		border-radius: 0px;
		margin-top: 0px;
		max-height: calc(100vh - 63px);
	}

	#navLinks.showMobileDropdown {
		opacity: 1;
		left: 0px;
	}

	.navItem {
		color: black;
		text-shadow: none;
	}

	.dropdown {
		overflow: show;
		max-height: initial;
		box-shadow: none;
	}

	.dropdownCont > .navItem {
		font-weight: bold;
	}

	.lookAtMe {
		width: 90%;
	}

	.pageImage {
		max-height: 50vh;
		background-position-x: center !important;
	}

	#mobileMenu {
		display: block;
	}

	.twoColumn {
		flex-direction: column-reverse;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.leftColumn {
		max-width: 100vw
	}

	.rightColumn {
		margin-left: 5px;
		margin-right: 5px;
	}

	.sideimage {
		max-width: 80vw;
	}

	.imageCont image {
		width: 80vw;
	}
}
