<div id="navBar">
    <script src="/TRM-Website/scripts.js"></script>
    <div class="navItem" style="padding: 5px;">
        <a href="/TRM-Website/index.html">
            <img id="homeImage" src="/TRM-Website/images/logo.svg">
        </a>
    </div>
    <div id="navLinks">
        <div class="dropdownCont">
            <div class="navItem">
                <a href="#">About</a>
            </div>
            <div class="dropdown">
                <div class="navItem">
                    <a href="/TRM-Website/about/team.html">Meet the Team</a>
                </div>
                <div class="navItem">
                    <a href="/TRM-Website/about/history.html">History</a>
                </div>
            </div>
        </div>
        <div class="dropdownCont">
            <div class="navItem">
                <a href="#">Our Vehicles</a>
            </div>
            <div class="dropdown">
                <div class="navItem">
                    <a href="/TRM-Website/cars/beemer.html">The Beemer</a>
                </div>
                <div class="navItem">
                    <a href="/TRM-Website/cars/porshe.html">The Porshe</a>
                </div>
                <div class="navItem">
                    <a href="/TRM-Website/cars/oldstang.html">The Old Mustang</a>
                </div>
                <div class="navItem">
                    <a href="/TRM-Website/cars/newstang.html">The New Mustang</a>
                </div>
            </div>
        </div>
        <div class="navItem">
            <a href="/TRM-Website/contact.html">Contact Us</a>
        </div>
	</div>
</div>
