<div id="navBar">
    <script src="scripts.js"></script>
    <div class="navItem" style="padding: 5px;">
        <a href="/index.html">
            <img id="homeImage" src="images/logo.svg">
        </a>
    </div>
    <div id="navLinks">
        <div class="dropdownCont">
            <div class="navItem">
                <a href="#">About</a>
            </div>
            <div class="dropdown">
                <div class="navItem">
                    <a href="team.html">Meet the Team</a>
                </div>
                <div class="navItem">
                    <a href="history.html">History</a>
                </div>
            </div>
        </div>
        <div class="dropdownCont">
            <div class="navItem">
                <a href="#">Our Vehicles</a>
            </div>
            <div class="dropdown">
                <div class="navItem">
                    <a href="/cars/beemer.html">The Beemer</a>
                </div>
                <div class="navItem">
                    <a href="/cars/porshe.html">The Porshe</a>
                </div>
                <div class="navItem">
                    <a href="/cars/oldstang.html">The Old Mustang</a>
                </div>
                <div class="navItem">
                    <a href="/cars/newstang.html">The New Mustang</a>
                </div>
            </div>
        </div>
        <div class="navItem">
            <a href="/contact.html">Contact Us</a>
        </div>
	</div>
</div>
